body {
    padding: 0;
    margin: 0;
}

header {
    background-color: bisque;
}

.clean-list {
    margin: 0 0 1em;
    line-height: 1.5;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: gray;
    width: 70vw;
    justify-self: center;
}

.canvas-container {
    width: 400px;
    margin: 20px auto;
}

canvas {
    display: block;
    width: 100%;
}

.text-container {
    display: flex;
    align-items: center;
}

.canvastext {
    width: 80%;
    height: 50px;
    align-self: center;
}

.editor {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.editor button {
    display: flex;
}

.button-container {
    display: grid;
    grid-template-rows: repeat(2, minmax(70px,100px));
    grid-template-columns: repeat(3, minmax(70px,100px));
}

.img {
    max-width: 200px;
    margin: auto;
}


.hidden {
    display: none;
}

.color-picker {
    width: 100%;
    height: 100%;
}