header {
    background-color: bisque;
}

.clean-list {
    margin: 0 0 1em;
    line-height: 1.5;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;   
    align-self: center;
    background-color: gray;
}

.canvas-container {
    width: 400px;
    margin: 20px auto;
}

canvas {
    display: block;
    width: 100%;
}

.canvastext {
    display: flex;
    max-width: 200px;
}
.editor button {
    display: flex;
}

.img {
    max-width: 200px;
    margin: auto;
}

.hidden {
    display: none;
}


